<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/js/dependencies/angular-ui-bootstrap/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="/js/dependencies/angular-material/angular-material.css">
    <link rel="stylesheet" href="/js/dependencies/angular-datetime-picker/angular-datetime-picker.css">
    <link rel="stylesheet" href="/styles/dependencies/stengg-foundation/st-foundation-bootstrap.css">
    <link rel="stylesheet" href="/styles/dependencies/stengg-foundation/st-foundation.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/js-data/js-data.js"></script>
    <script src="/js/dependencies/downloadjs/download.js"></script>
    <script src="/js/dependencies/async/async.js"></script>
    <script src="/js/dependencies/howler/howler.js"></script>
    <script src="/js/dependencies/jquery/jquery.js"></script>
    <script src="/js/dependencies/angular/angular.js"></script>
    <script src="/js/dependencies/js-data-angular/js-data-angular.js"></script>
    <script src="/js/dependencies/angular-datetime-picker/angular-datetime-picker.js"></script>
    <script src="/js/dependencies/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="/js/dependencies/angular-messages/angular-messages.js"></script>
    <script src="/js/dependencies/angular-material/angular-material.js"></script>
    <script src="/js/dependencies/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/js/dependencies/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/dependencies/angular-ui-router/angular-ui-router.js"></script>
    <script src="/js/dependencies/angular-local-storage/angular-local-storage.js"></script>
    <script src="/js/dependencies/angular-aria/angular-aria.js"></script>
    <script src="/js/dependencies/angular-animate/angular-animate.js"></script>
    <script src="/js/dependencies/angular-uuid/angular-uuid.js"></script>
    <script src="/js/dependencies/stengg-foundation/components/back-button.js"></script>
    <script src="/js/dependencies/stengg-foundation/components/badge.js"></script>
    <script src="/js/dependencies/stengg-foundation/components/sound-button.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-data-definition.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-data-resource.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-datetime-input.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-event-broadcaster.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-file-saver.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-filter-input.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-header.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-include-static.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-injector.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-json.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-process-monitor.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-property-inspector-input.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-property-inspector-row.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-property-inspector.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-resource-array.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-resource-filter.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-resource.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-save-mode.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-selected-item-change.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-show.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-state-params.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-title.js"></script>
    <script src="/js/dependencies/stengg-foundation/directives/st-uuid.js"></script>
    <script src="/js/dependencies/stengg-foundation/filters/st-filters-by-property.js"></script>
    <script src="/js/dependencies/stengg-foundation/filters/st-filters-byid.js"></script>
    <script src="/js/dependencies/stengg-foundation/filters/st-filters-keys.js"></script>
    <script src="/js/dependencies/stengg-foundation/filters/st-filters-not-null-not-undefined.js"></script>
    <script src="/js/dependencies/stengg-foundation/services/st-data.js"></script>
    <script src="/js/dependencies/stengg-foundation/services/st-io.js"></script>
    <script src="/js/dependencies/stengg-foundation/services/st-local-storage.js"></script>
    <script src="/js/dependencies/stengg-foundation/services/st-notify.js"></script>
    <script src="/js/dependencies/stengg-foundation/services/st-sails.js"></script>
    <script src="/js/dependencies/stengg-foundation/services/st-sound.js"></script>
    <script src="/js/dependencies/stengg-foundation/st-foundation.config.js"></script>
    <script src="/js/dependencies/stengg-foundation/st-foundation.module.js"></script>
    <script src="/js/dependencies/stengg-foundation/st-foundation.run.js"></script>
    <script src="/js/dependencies/stengg-foundation/ui/st-ui-controller.js"></script>
    <script src="/js/dependencies/stengg-foundation/ui/st-ui-router.js"></script>
    <script src="/js/dependencies/stengg-foundation/utils/st-alias.js"></script>
    <script src="/js/dependencies/stengg-foundation/utils/st-object.js"></script>
    <script src="/js/angular-animate/angular-animate.js"></script>
    <script src="/js/angular-aria/angular-aria.js"></script>
    <script src="/js/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
    <script src="/js/angular-local-storage/angular-local-storage.js"></script>
    <script src="/js/angular-material/angular-material.js"></script>
    <script src="/js/angular-messages/angular-messages.js"></script>
    <script src="/js/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/js/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/js/angular-ui-router/angular-ui-router.js"></script>
    <script src="/js/angular-uuid/angular-uuid.js"></script>
    <script src="/js/angular/angular.js"></script>
    <script src="/js/jquery/jquery.js"></script>
    <script src="/js/md-color-picker/mdColorPicker.js"></script>
    <script src="/js/moment/moment.js"></script>
    <script src="/js/nx-jquery-ui/client/js/jquery-ui.js"></script>
    <script src="/js/tinycolor2/tinycolor.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
